{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}

<div
    class="login w-[85%] max-w-[400px] mx-auto mt-20 p-4 bg-lightBrown rounded-lg"
>
    <h1 class="text-center font-bold text-2xl pb-2">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="w-[80%] mx-auto flex flex-col gap-3">
            <div>
                <p>Username</p>
                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    class="form-control w-full p-1 rounded"
                />
            </div>
            <div>
                <p>Password</p>
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    class="form-control w-full p-1 rounded"
                />
            </div>
            <input
                class="btn login_btn w-full py-1 bg-brown rounded cursor-pointer text-white"
                type="submit"
                value="Login"
            />
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>
                Don't have an account yet?
                <a
                    href="{% url 'main:register' %}"
                    class="text-blueLink hover:underline"
                    >Register Now</a
                >
            </p>
        </div>
    </form>
</div>

{% endblock content %}
